---
permalink: /
title: "Research Interests"
excerpt: "About me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

<html>
<head>
    <title>Research Interests</title>
</head>
<body>
<div>
    <p>My fields of research include multi-physics simulation, fluid-solid interaction, reduced order model, and data analysis, applications of machine learning on engineering problems.</p>
</div>
<h2>Selected Projects</h2>
</body>
</html>

{% include base_path %}
{% for post in site.showcase %}
  {% include archive-single.html %}
{% endfor %}
