---
permalink: /
title: "Research Interests"
excerpt: "About me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

<html>
<head>
    <title>Research Interests</title>
    <style>
        .project {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
        }
        .project-description {
            display: none;
        }
    </style>
</head>
<body>
<div>
    <p>My fields of research include multi-physics simulation, fluid-solid interaction, reduced order model, and data analysis, applications of machine learning on engineering problems.</p>
</div>

<h1>Selected Projects</h1>
<ul>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</ul>

</html>


