---
layout: archive
title: " "
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<h1>Education</h1>
<ul>
  <li>
    B.E. in Mechanical Design, Manufacturing, and its Automation, Yanbian University, 2019
  </li>
  <li>
    M.S. in Mechanical Engineering, Northern Illinois University, 2022
  </li>
</ul>

<h1>Work Experience</h1>
<h2>Quality Engineer</h2>
<p><strong>Nov. 2023 – Present</strong></p>

<h2>Research Intern</h2>
<p><strong>Aug. 2022 – Nov. 2023</strong></p>
<p><em>UII America, Inc. at Burlington, MA, USA</em></p>
<p><em>Supervisor: Shanhui Sun</em></p>
<ul>
  <li>Duties included:
    <ul>
      <li>Mesh operations based on segmented CT coronary data.</li>
      <li>Python pipelines of Computational Fluid Dynamics (CFD) simulations on synthetic coronary models.</li>
      <li>Feature extraction on coronary vessel centerlines for the training of Multilayer Perceptron (MLP) model.</li>
      <li>Heart simulation and coronary artery projection.</li>
    </ul>
  </li>
</ul>

<h2>Graduate Assistant</h2>
<p><strong>Sept. 2021 - Jun. 2022</strong></p>
<p><em>Northern Illinois University at Dekalb, IL, USA</em></p>
<p><em>Supervisor: Jifu Tan</em></p>
<ul>
  <li>Course assisting:
    <ul>
      <li>Assisted the supervisor in preparing, printing, and arranging the exam problems.</li>
      <li>Took recitation courses twice weekly to help students solve their course-related questions (Course name: Engineering Mechanics).</li>
    </ul>
  </li>
  <li>Research projects:
    <ul>
      <li>Conducted dynamic mode decomposition on the early COVID-19 data and investigated the pandemic spreading patterns in the US.</li>
      <li>Performed tube flow simulations with red blood cells, and investigated the wall shear stress along the inner tube surface.</li>
      <li>Proposed a fluid-solid coupling model by immersed boundary-physics informed neural network, compared its efficiency to the traditional method, and validated its accuracy.</li>
    </ul>
  </li>
</ul>

<h2>Research Student</h2>
<p><strong>Feb. 2021 - Aug. 2021</strong></p>
<p><em>Tsinghua University at Beijing, China</em></p>
<p><em>Supervisor: Zhenwei Huang</em></p>
<ul>
  <li>Duties included:
    <ul>
      <li>Built fish mesh by fitting functions of body shape from MIT’s RoboTuna.</li>
      <li>Conducted fish swimming simulations by immersed boundary-lattice Boltzmann method based on open-source software Palabos.</li>
      <li>Analyzed flow patterns of the fish swimming and investigated dynamic characteristics of the fluid domain by dynamic mode decomposition.</li>
      <li>Conducted mesh independence analysis and validation of the simulation algorithms.</li>
    </ul>
  </li>
</ul>

<h1>Skills and Softwares</h1>
<ul>
  <li>
    <strong>Multi-physics Simulation</strong>
    <p>Multi-physics simulation based on smoothed-particle hydrodynamics or finite element solver. Simulation topics include electromechanical simulation of left ventricle during heartbeats, wave-structure interactions with moorings, etc.</p>
    <ul>
      <li>DualSPHysics</li>
      <li>SPHinXsys</li>
      <li>svFSI</li>
    </ul>
  </li>
  <li>
    <strong>Computational Fluid Dynamics</strong>
    <ul>
      <li>CfdOF</li>
      <p>Supports single case analysis based on OpenFOAM with GUI.</p>
      <li>Palabos</li>
      <p>Flow simulations based on Lattice Boltzmann method and fluid-solid coupling by immersed boundary condition. Simulation topics include blood flow simulation with red blood cells, multi-phase simulation, etc.</p>
      <li>SimVascular (1D & 3D simulations with/without GUI)</li>
      <p>Blood flow simulation with windkessel boundary conditions such as RCR, RCRCR boundary conditions.</p>
    </ul>
  </li>
  <li>
    <strong>Mesh Operation</strong>
    <p>Including volume mesh generation, automatic boundary face labeling, surface mesh synthesis, surface mesh reconstruction from point clouds, mesh deforming or translation, smoothing, boolean union or subtraction, inner centerline calculation, etc. Advanced topics include features extraction along centerlines of mesh, local designing of surface mesh for example to randomly form a stenosis on the blood vessel mesh.</p>
    <ul>
      <li>FreeCAD</li>
      <li>Gmsh</li>li
      <li>MeshLab</li>
      <li>PyVista</li>
      <li>TetGen</li>
      <li>SVMTK (Python frontend in CGAL)</li>
      <li>VTK</li>
      <li>VMTK</li>
    </ul>
  </li>
  <li>
    <strong>Program Languages</strong>
    <ul>
      <li>Python</li>
      <li>Matlab</li>
      <li>C++</li>
    </ul>
  </li>
</ul>

<h1>Publications</h1>
<ul>
  {% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}
</ul>

<h1>Community Services</h1>
<p>Peer reviews for conferences and journals.</p>
<ul>
  <li>Ocean Engineering</li>
  <li>Journal of Marine Science and Technology</li>
  <li>Journal of Fluids Engineering</li>
  <li>International Journal of Computational Fluid Dynamics</li>
  <li>Defect and Diffusion Forum</li>
  <li>Journal of Applied Fluid Mechanics</li>
  <li>Journal of Mathematics</li>
  <li>2023 Summer Biomechanics, Bioengineering and Biotransport Conference (SB3C 2023)</li>
  <li>7th International Conference on Fluid Mechanics and Industrial Applications (FMIA 2023)</li>
  <li>7th International Conference on Data Mining, Communications and Information Technology (DMCIT 2023)</li>
  <li>2nd International Conference on Fluid Dynamics and Computational Science (FDCS 2023)</li>
</ul>


<h1>Awards</h1>
<ul>
  <li>
  Mechanical Engineering Graduate Tuition Waiver Award, 2020
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/2020waiver.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    National English Competition for College Students (NECCS), Special Prize, 2019
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/19neccs.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>

  <li>
    "FLTRP CUP" English Writing Contest, Provincial First Prize, 2018
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/18fltrp_writing.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    Jilin Province University Robot Contest, Provincial First Prize, 2018
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/18robot.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    Interdisciplinary Contest In Modeling, Honorable Mention, 2018
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/18icm.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    "FLTRP CUP" English Reading Contest, Provincial First Prize, 2017
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/17fltrp_reading.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    China Undergraduate Mathematical Contest in Modeling, National Second Prize & Provincial First Prize, 2017
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/17MCM.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    College Student Innovation and Entrepreneurship Training Program, Second prize, 2017
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/18training.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    "FLTRP CUP" English Reading Contest, Provincial First Prize, 2016
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/16fltry_reading.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    China Undergraduate Mathematical Contest in Modeling, Provincial Second Prize, 2016
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/16mcm.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  </li>
  <li>
    Big Writing Event Under One Topic, National The Excellent Composition Award, 2016
   <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/16bigwritingevent.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>
    Model Student of Academic Records, 2016
    <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/16model.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
  <li>Merit Student, 2016
  <div class="award-button">
      <button class="show-image-button" data-image="https://github.com/Yulan-Fang/Yulan-Fang.github.io/blob/master/images/15merit.png?raw=true">Show</button>
    </div>
    <img class="large-image" src="" alt="Large Award Image" />
  </li>
</ul>



<style>
.award-button {
  display: inline-block;
}

.show-image-button {
  cursor: pointer;
  background: #0074d9;
  color: #fff;
  border: none;
  padding: 3px 6px; /* Adjust the padding as needed for smaller buttons */
  border-radius: 4px;
  font-size: 12px; /* Adjust the font size as needed for smaller buttons */
  margin-left: 10px;
}

.large-image {
  display: none;
  width: 700px; /* Adjust the width as needed for your large images */
  height: auto;
}
</style>

<script>
const showImageButtons = document.querySelectorAll('.show-image-button');
const largeImages = document.querySelectorAll('.large-image');

showImageButtons.forEach((button, index) => {
  let isImageVisible = false;

  button.addEventListener('click', () => {
    if (isImageVisible) {
      largeImages[index].style.display = 'none';
      button.textContent = 'Show';
    } else {
      largeImages[index].src = button.getAttribute('data-image');
      largeImages[index].style.display = 'block';
      button.textContent = 'Hide';
    }
    isImageVisible = !isImageVisible;
  });
});
</script>
